/* @import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap"); */
* {
    margin: 0;
    padding: 0;
    --background-accent-color:#ff821a;
    --website-font-family: 'Poppins', sans-serif;
    --website-font-size: 16px;
  }
  
  html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
  }
  
  body {
    height: 200vh;
    font-family: var(--website-font-family);
  }
  a:hover {
    color:var(--background-accent-color) !important;
  }
  
  #nav-container {
    display: flex;
    z-index: 5;
    background-color: #ffffff;
    position: fixed;
    height:10%;
    min-height:90px;
    width:100%;
    border:blue solid 2px;
    margin-top: 0;
    align-self: center;
  }

  .navbar{
    border:pink solid 2px;
    min-width:100%;
  }

  .website-logo {
    margin-right:8px
  }
  
  .navbar-nav .nav-item {
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }

  .navbar-nav .nav-item .nav-link {
    color: #000;
    border:red solid 2px;
  }
  .navbar-nav .nav-item.active {
    border-bottom: 2px solid #000;
  }
  
  section {
    margin-bottom: 7rem;
  }
  
  #landing {
    background-image: url("/static/core/res/Wesola-Lapka-glowna.jpg.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 80vh;
    min-width: 80vw;
    scale: 1;
    color:white;
    margin-bottom: 5rem;
  }
  
  .landing-text-container {
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 2rem;
    float:left;
    width:100%;
    min-width: 768px;
    border-radius: 5px;
    border: solid purple 2px;
  }

  .hero-button-container {
    display:flex;
    margin-left:-1rem;
    padding-left:1rem;
    margin-top:-4rem;
    border:solid red 2px;
  }

  .hero-button {
    background-color: transparent;
    border: solid white 2px;
    padding: 1em;
    border-radius:8px;
    color:white;
    margin: 0.5rem;
  }
  .hero-button:hover {
    text-decoration: none;
  }

  .section-headline-small {
    text-align: center;
    border:solid 2px orange;
    font-family: "Monospace";
    font-size:1.25rem;
    color:#ec660d;
    font-weight:600;
  }

  .section-headline-large {
    text-align: center;
    border:solid 2px cyan;
    font-weight: 600;
  }
  
  .about-left-col {
    align-items: center;
  }

  .about-text {
    width:100%;
    align-items:center;
    justify-items:center;
    text-align:center;
    border:red 2px solid;
    margin:auto 0;
  }
  
  .about-img-container img {
    max-width: 70%;
  }
  
  #advantages {
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    background-color: #f7f7f7;
    border:magenta 2px solid;
    padding-bottom: 5rem;
    min-height: 600px;
    align-items: center;
    margin:auto auto;

  }

  .advantages-website-logo {
    width:20%;
    max-width:240px
  }

  #advantages .container {
    padding-top: 5rem;
  }

  .advantages-section-container {
    display:flex;
    flex-direction:column;
    row-gap:1rem;
    align-items:center;
    border:red 2px solid;
    align-items:center;
    justify-content:center;
  }
  
  .card {
    border: none;
    text-align: center;
    align-items: center;
    background-color: inherit;
  }
  .card img {
    max-width: 160px;
    height: 144px;
  }
  
  #footer {
    padding-top: 2.5rem;
    background-color: #f7f7f7;
  }
  
  #mission {
    display:flex;
    flex-direction: inline;
    min-height: 450px;
    margin-bottom: 0;
    background-color: var(--background-accent-color);
    border:solid 2px red;
  }

  #mission-description{
    max-width:100%;
    min-width:100%;
    border:turquoise solid 4px;
    color:white;
    margin:auto;
  }


  .mission-image-container{
    border:blue solid 4px;
    background-image: url("core/res/wesola-lapka-piknik.jpeg");
  }

  .mission-container{
    max-width:30%;
  }


  #mission-headline-small{
    color:white;
  }
  
  .list-group, .list-group-item {
    background-color: inherit;
  }
  
  #map .container {
    padding-top: 5rem;
  }
  
  .map-container {
    overflow: hidden;
    padding-bottom: 45%;
    position: relative;
    height: 0;
  }
  
  .map-container iframe {
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .table-dark {
    background-color: var(--background-accent-color);
  }
  
  .bottom-section {
    background-color: var(--background-accent-color);
  }
  
  @media only screen and (max-width: 768px) {
    .landing-text-container {
      margin-top: 50%;
      margin-right: auto;
      margin-left: auto;
    }
    
  
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }

    #landing {
      background-image: url("/static/core/res/Wesola-Lapka-glowna-mobile.jpg.webp");
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
      background-attachment: fixed;
      min-height: 60vh;
      min-width: 80vw;
    }
  }/*# sourceMappingURL=style.css.map */